$xs-screen-min:   min-width 540px;
$s-screen-min:    min-width 780px;
$m-screen-min:    min-width 1080px;
$l-screen-min:    min-width 1260px;
$xl-screen-min:   min-width 1660px;

$xs-screen-max:   max-width 540px;
$s-screen-max:    max-width 780px;
$m-screen-max:    max-width 1080px;
$l-screen-max:    max-width 1260px;
$xl-screen-max:   max-width 1660px;

$transition-slow:          1500ms;
$transition-general:       600ms;
$transition-fast:          300ms;
$transition-extra-fast:    200ms;
